{% extends 'access\base_layout.html' %}

{% block content %}
    <section class="section">
        <div class="columns">
            <div class="column"></div>
            <div class="column">
                <h1 align="center" class="title">Login</h1>
                <hr/>
                <br/>

                <form action="{% url 'access:login' %}" method="post">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <article class="message is-danger">
                            <div class="message-body">{{ form.non_field_errors }}</div>
                        </article>
                    {% endif %}

                    <!-- USERNAME FIELD start -->
                    <div class="field">
                        <label for="username" class="label">Username</label>
                        <div class="control has-icons-left">
                            <input
                                    class="input"
                                    type="text"
                                    placeholder="john123"
                                    name="username"
                                    required
                                    autofocus
                            />
                            <span class="icon is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        </div>
                    </div>
                    <!-- USERNAME FIELD end -->

                    <!-- PASSWORD FIELD start -->
                    <div class="field">
                        <label for="password" class="label">Password</label>
                        <div class="control has-icons-left">
                            <input
                                    class="input"
                                    type="password"
                                    name="password"
                                    id="password"
                                    required
                            />
                            <span class="icon is-left"> <i class="fas fa-lock"></i> </span>
                        </div>
                    </div>
                    <!-- PASSWORD FIELD end -->

                    <div
                            class="field"
                            style="margin:6% auto;display: flex;justify-content: center;"
                    >
                        <p class="control">
                            <input
                                    type="submit"
                                    class="button is-primary is-outlined"
                                    value="Login"
                            />
                        </p>
                    </div>

                    <h3 class="subtitle is-6 has-text-centered" style="margin-top: 30px;">
                        <strong>New User ? <a href="{% url 'access:register' %}">Register here</a></strong>
                        <br><a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>
                    </h3>

                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                </form>
            </div>
            <div class="column"></div>
        </div>
    </section>
{% endblock %}