{% extends 'access\base_layout.html' %}

{% block content %}

    {% include "todo\navbar.html" %}

    <div class="container">

        <div class="columns" style="margin-top:10px;padding : 15px;">
            <div class="column"></div>
            <div class="column">
                <h1 class="title is-3 has-text-centered">{{ friends.friends_name }}</h1>
                <hr>

                <h1 class="title is-4">Friends</h1>
                <hr>
                <ul>
                    {% for member in friends.members.all %}
                        <li class="subtitle is-6" style="margin-bottom:10px;">
                            <b>{{ forloop.counter }}. {{ member | title }}
                                {% if friends.created_by == member %}
                                    <span class="tag is-info">Yourself</span>
                                {% endif %}
                            </b>
                        </li>
                    {% endfor %}
                </ul>

                <form action="{% url 'access:add_friends_member' %}" method="POST" style="margin-top: 20px;">
                    {% csrf_token %}
                    <input type="hidden" name="friends_id" value="{{ friends.id }}">
                    <div class="field">
                        <label class="label" for="members">Add Friends</label>
                        <div class="select is-multiple is-fullwidth">
                            <select name="members" id="members" multiple>
                                {% for user in users %}
                                    {% if user not in friends.members.all %}
                                        <option value="{{ user }}">{{ user|title }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div style="text-align:center;margin-top:120px;">
                        <input class="button is-small is-primary is-outlined" type="submit" value="Add">
                    </div>
                </form>
            </div>
            <div class="column"></div>
        </div>


    </div>

{% endblock %}