{% load  static %}
<nav id="navbar" class="navbar is-dark">

    <div class="navbar-brand">
        <a href="{% url 'access:home' %}" class="navbar-item"><img src="{% static 'logo/logo.png' %}"></a>
        <div
                id="navbarBurger"
                class="navbar-burger burger"
                data-target="burgerMenu"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
    </div>

    <div class="navbar-brand">
        <a href="{% url 'access:home' %}" class="navbar-item">{{ request.user }}</a>
        <div
                id="navbarBurger"
                class="navbar-burger burger"
                data-target="burgerMenu"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
    </div>

    <div class="navbar-item">
        <a href="{% url 'access:complete_archive_all' %}" class="navbar-item">Archive</a>
        <div
                id="navbarBurger"
                class="navbar-burger burger"
                data-target="burgerMenu"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
    </div>

    <div class="navbar-item">
        {% comment %} {% if friends_name.friends.id != 1 %}
        <a href="{% url 'access:create_friends' %}" class="navbar-item">Friends</a>
        {% elif friends_name.friends.id == 1 %} {% endcomment %}
        <a href="{% url 'access:friends_detail' request.user.id %}" class="navbar-item">Friends</a>
        {% comment %} {% endif %} {% endcomment %}
        <div
                id="navbarBurger"
                class="navbar-burger burger"
                data-target="burgerMenu"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>       
   </div>

   <div class="navbar-item">
        {% comment %} <a href="{% url 'edit_profile_page' user.profile.id %}" class="navbar-item">Profile</a> {% endcomment %}
        <a href="{% url 'depiction:show_profile_page' user.profile.id %}" class="navbar-item">Profile</a>
        <div
                id="navbarBurger"
                class="navbar-burger burger"
                data-target="burgerMenu"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>       
    </div>

    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a href="{% url 'navigation:home' %}" class="navbar-item">
            Home
          </a>
          <hr class="navbar-divider">
          <a href="{% url 'navigation:about' %}" class="navbar-item">
            About
          {% comment %} </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a> {% endcomment %}
        </div>

        <div
                id="navbarBurger"
                class="navbar-burger burger"
                data-target="burgerMenu"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div> 

    </div>

    <div class="navbar-menu" id="burgerMenu">
        <div class="navbar-end">
            <a href="{% url 'access:logout' %}" class="navbar-item">
                <strong>Logout</strong>
            </a>
        </div>
    </div>
    
</nav>

{% include "nav_music_player\nav_music_player.html" %}

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>