{% extends 'templates\base\base.html' %}



{% block title %}
To-do
{% endblock title %}


{% block nav_list %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'todo' %}"><u>To-Do</u></a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
</li>
{% endblock nav_list %}


<ul>
{% block content %}
{% for tasks in todo %}

<li>
    <h3>Title: </h3>{{tasks.title}}<br>
    <h3>Short Description: </h3>{{tasks.short_description}}<br>
    <h3>Description: </h3>{{tasks.description}}<br>
    <a href="/todo/{{tasks.id}}">View "{{tasks.title}}"?</a>
    <br><br><br>
</li>

{% endfor %}
{% endblock content %}
</ul>