{% extends 'templates\base\base.html' %}



{% block title %}
To-do
{% endblock title %}


{% block todo_active_nav %}
active
{% endblock todo_active_nav %}


{% block nav_list %}
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'todo' %}">To-Do</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
</li>
{% endblock nav_list %}

 
{% block content %}
<h1>Description:</h1><br>
{{todo.description}}
{% endblock content %}