{% extends 'depict_comp/base_password-reset.html' %}

{% block content %}
<div class="center">
    <form method="post" class="card text-center">
        {% csrf_token %}
        <h2 class="text-center mb-4">Password Reset Confirm</h2>

        {% for field in form %}
        <div class="form-group">
            <label>{{ field.label_tag }}</label>
            {{ field }}
            {% if field.errors %}
            <small class="text-danger">{{ field.errors|striptags }}</small>
            {% endif %}
        </div>
        {% endfor %}

        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </div>
    </form>
</div>
{% endblock content %}
