{% extends 'depict_comp/base_password-reset.html' %}

{% block content %}
    <div class="center">
        <form method="post" class="card text-center">
            {% csrf_token %}
            <h2 class="text-center">Reset Password</h2>
            {% for field in form %}
                <div class="form-group">
                    <label class="form-label">{{ field.label_tag }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <small class="text-danger">{{ field.errors|striptags }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-buttons text-center"> <!-- Modified CSS class -->
                <button type="submit" class="btn btn-primary">Send</button>
                <a href="{% url 'access:login' %}" class="btn btn-outline">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
